  <form id="contact" class="contact-form">

      <input type="text" name="_gotcha" style="display: none">

      <label>Full Name *</label>
      <input id="inputName" type="text" name="name" placeholder="Enter your name..." required>

      <label>Email Address *</label>
      <input id="inputEmail" type="text" name="email" placeholder="Enter your email..." required>

      <label>Your Subject</label>
      <input id="inputSubject" type="text" name="subject" placeholder="Enter your subject...">

      <label>Your Message</label>

      <textarea id="inputMessage" name="message" placeholder="Enter your message..." rows="8" cols="30"></textarea>

      <button type="submit" id="form-submit" value="Send">Send</button> 

  </form>

