  <form id="contact" class="contact-form" action="https://formspree.io/xzzyynjx" method="POST">

      <input type="text" name="_gotcha" style="display: none">

      <label>Full Name *</label>
      <input id="inputName" type="text" name="name" placeholder="Enter your name...">

      <label>Email Address *</label>
      <input id="inputEmail" type="text" name="email" placeholder="Enter your email...">

      <label>Your Subject</label>
      <input id="inputSubject" type="text" name="subject" placeholder="Enter your subject...">

      <label>Your Message</label>

      <textarea id="inputMessage" name="message" placeholder="Enter your message..." rows="8" cols="30"></textarea>

      <button type="submit" id="form-submit" value="Send">Send</button> 

      <div class="submit-fail display-none">Please fill in all form fields.</div>
      <div class="submit-success display-none">Your message has been sent!</div>

  </form>

  <script type="text/javascript">

    $('#form-submit').click(function(){
      alert('Please wait while form is submitting');
      $('#contact').submit();
    });

  </script>