<div class="page-video-container">
        <video class="header-video" autoplay muted loop>
        <source poster="/uploads/video.jpg" src="/uploads/video.m4v" type="video/m4v">
        <source poster="/uploads/video.jpg" src="/uploads/video.webm" type="video/webm">
    </video>
</div>


<div id="sticky-anchor"></div><div id="spacer-anchor"></div>
<header id="sticky-element" class="header">
    <div class="header-inner bg transition">
        <ul class="header-list">
            <li class="header-list-item"><a href="/about">About</a></li>
            <li class="header-list-item"><a href="/work">Work</a></li>
        </ul>
        <a href="{{ site.baseurl }}" class="header-site-title"><img src="/assets/logo.svg"></a>
        <ul class="header-list">
            <li class="header-list-item"><a href="/clients">Clients</a></li>
            <li class="header-list-item"><a href="/contact">Contact</a></li>
        </ul>
    </div>
</header>

test