<div id="map"></div>

<script>

  function initMap() {

    var myLatlng = new google.maps.LatLng({{ site.google-lat }},{{ site.google-lng }});

    var mapOptions = {
        zoom: 15,
        center: myLatlng,
        disableDefaultUI: false,
        scrollwheel: false,
        mapTypeControlOptions: {
            mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain']
        }
    }

    var map = new google.maps.Map(document.getElementById("map"), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        title: 'Inkfield Media Marker',
        icon: {
            url: '/assets/icon.svg',
            scaledSize: new google.maps.Size(30, 30),
        }
    });

    // To add the marker to the map, call setMap();
    marker.setMap(map);

    //Associate the styled map with the MapTypeId and set it to display.
    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');
  }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRhpw0XowL5SrsMHgf_ddDdGhE6VlE4yQ&callback=initMap"></script>