@font-face {
    font-family: 'CalibreRegular';
    src: url('../asssets/CalibreRegular.eot');
    src: url('../asssets/CalibreRegular.eot?#iefix') format('embedded-opentype'),
        url('../asssets/CalibreRegular.woff') format('woff'),
        url('../asssets/CalibreRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}