@import "normalize";
@import "reset";
@import "fonts";

$grey: #eee;
$coal: #888;
$black: #000;
$white: #fff;

// Layout

body {
    background-color: $white;
    font-family: 'Calibre', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.02em;
}

a {
    color: $black;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    text-transform: uppercase;
}

img {
    width: 100%;
}

// Content //

.container {
    max-width: 80em;
    margin: 0 auto;
    padding: 0 3.4rem;
}

.content-site {
    background-color: #fff;
}

.content {
    padding: 5em 0;
}

// Video //

.header-video-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50vh;
    text-align: center;
}

.header-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

// Header //

.header {
    background-color: $grey;
    padding: 0.8em 0 0 0;
}

.header-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-list-item {
    display: inline-block;
    margin: 0 1.2em 0 0;
    padding: 0;

    &:after {
        content: " \2022";
        color: $coal;
        margin: 0 0 0 1.2em;
        font-weight: 400;
    }

    &:last-child {

        &:after {
            content: "";
        }

    }

}

// Footer //

.footer {
    position: relative;
    background-color: #fff;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-list-item {
    padding: 0 0 0.4em 0;
}

// Other //

.clearfix {
    clear: both;
}

// Contact //

.contact-form {
    @extend .newsletter-form;

    input[type="radio"] {
        display:none;
    }
    input[type="radio"] + label {
        color: #888;
    }
    input[type="radio"] + label span {
        display:inline-block;
        width: 10px;
        height: 10px;
        margin: -1px 1em 0 0;
        vertical-align: middle;
        cursor: pointer;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    input[type="radio"] + label span {
        background-color: #888;
    }

    input[type="radio"]:checked + label span{
        background-color: #000;
    }

    input[type="radio"] + label span,
    input[type="radio"]:checked + label span {
        -webkit-transition: background-color 0.4s linear;
        -o-transition: background-color 0.4s linear;
        -moz-transition: background-color 0.4s linear;
        transition: background-color 0.4s linear;
    }

}

// Newsletter //

.newsletter-form {

    input {
        display: block;
        width: 100%;
        background-color: $grey;
        margin: 0 0 0.8em 0;
        border: none;
        padding: 0.6em 0.6em 0.3em 0.6em;
        font-size: 0.8em;
    }

    label {
        margin: 0 0 0.6em 0;
        font-size: 0.6em;
    }

    button {
        display: block;
        background: none;
        margin: 1em 0;
        border: none;
        padding: 0;
        font-size: 0.8em;
    }

}

.footer-copyright {
    background-color: $grey;
    margin: 1em 0 0 0;
}

.footer-copyright-text {
    margin: 0.5em 0 0.2em 0;
    font-size: 0.8em;
}

// Other //

.no-spacing {
    margin: 0 !important;
    padding: 0 !important;
}

*:focus {
    outline: 0;
}

// Columns // 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;

    &:before, &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

}

.row {
    margin: 0 -0.8em;

        img {
            width: 100%;
        }

        &:before, &:after {
            content: " ";
            display: table;
        }

}

.clearfix:after .row:after {
    clear: both;
}

.col-20, .col-25, .col-50, .col-60, .col-75, .col-100 {
    float: left;
    padding: 0 0.8em;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-75 {
    width: 75%;
}

.col-100 {
    width: 100%;
}