---
layout: default
---

        <div class="content">
            <div class="col-100 bottom-spacer">
                <div class="page-hero-image">
                    <h1>{{ page.excerpt_text }}</h1>
                    <img src="{{ page.excerpt_image }}">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-100 content-client-thumbnail">
                {% assign sorted_clients = site.clients | sort:"position" %}
                {% for clients in sorted_clients %}
                    <div class="col-25">
                        <img src="{{ clients.logo_image }}">
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>