---
layout: default
---

        <div class="content">
            <div class="col-100 bottom-spacer">
                <div class="page-hero-image">
                    <h1>{{ page.excerpt_text }}</h1>
                    <img src="{{ page.excerpt_image }}">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-50">
                <div class="map-container">
                    {% include map.html %}            
                </div>
            </div>
            <div class="col-50">
                {% include form.html %}
            </div>
            <div class="clearfix"></div>        
        </div>
    </div>
</div>
