{% include scripts.html %}

        <main class="content-site">

            {% include header.html %}

        <div class="page-hero-image">
            <h1>{{ page.excerpt_text }}</h1>
            <img src="{{ page.excerpt_image }}">
        </div>

            <div class="container">
                <div id="spacer-element" class="row content-highlight">

                    {{ content }}

                </div>
            </div>

            {% include footer.html %}

        </main>

    </body>
</html>
