{% include scripts.html %}

        <div class="header-video-container">
            <div class="header-logo"><img src="/assets/logo.svg"></div>
            <a href="#">
                <i class="material-icons md-48">play_circle_outline</i>
                <span>View Showreel</span>
            </a>
            <video class="header-video" autoplay muted loop>
                <source poster="/uploads/video.jpg" src="/uploads/video.m4v" type="video/m4v">
                <source poster="/uploads/video.jpg" src="/uploads/video.webm" type="video/webm">
            </video>
        </div>

        <main class="content-site">

            {% include header.html %}


            <div class="container">
                <div id="spacer-element" class="row content-highlight">

                    {{ content }}

                </div>
            </div>

        </main>

    </body>
</html>

{% include footer.html %}
