---
layout: default
---

        <div class="content">
            {% assign sorted_work = site.work | sort:"position" %}
            {% for work in sorted_work %}
            <div class="col-50">
                <a class="content-work-link" href="{{ work.url }}">
                    <div class="content-work-thumbnail">
                        <img src="{{ work.thumbnail_image }}">
                    </div>
                    <span>{{ work.title }}</span>
                </a>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>